<% if @current_ride.present? && @current_ride.status != 'complete' %>

  <table class="table table-striped">
    <h3> Current Ride Request: </h3>

    <thead>
    <tr>
      <th>Rider</th>
      <th>Pick Up</th>
      <th>Passengers</th>
      <th>Accepted At</th>
      <th>Pickup</th>
      <th>Drop Off</th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <% if @current_ride.user.present? %>
        <td><%= @current_ride.user.name.capitalize %></td>
      <% end %>
      <td><%= @current_ride.pick_up_location.capitalize %></td>
      <td><%= @current_ride.num_of_passengers %></td>
      <td><%= @current_ride.accepted_time %></td>
      <td>
        <% if @current_ride.accepted? %>
          <%= link_to "Customer Picked Up", picked_up_admins_ride_path(@current_ride) %>
        <% else %>
          <%= @current_ride.pickup_time %>
        <% end %>
      </td>

      <td>
        <% if @current_ride.in_transit? %>
          <%= link_to "Customer Dropped Off", dropped_off_admins_ride_path(@current_ride) %>
        <% end %>
      </td>
    </tr>
    </tbody>

  </table>
  <br>
  <hr>
  <br>
<% end %>

<table class="table table-striped">
  <h3> Available Rides: <%= @rides.count %></h3>

  <thead>
  <tr>
    <th>Pick Up</th>
    <th>Number of Passengers</th>
    <th>Accept Ride?</th>
  </tr>
  </thead>

  <tbody>
    <tr>
    <% @rides.each do |ride| %>
      <% if ride.num_of_passengers <= current_admin.car_passenger_capacity && ride.active? %>
        <td><%= ride.pick_up_location.capitalize %></td>
        <td><%= ride.num_of_passengers %></td>
        <td>
          <% if current_admin.rides.all? { |each_ride| each_ride.complete? } %>
            <%= link_to "Accept", ride_accepted_admins_ride_path(ride) %>
          <% end %>
        </td>
      <% end %>
    <% end %>
    </tr>
  </tbody>
</table>

<br>
<br>
<br>

<table class="table table-striped">
  <h3> Completed Rides: <%= @completed_rides.count %></h3>

  <thead>
  <tr>
    <th>Rider</th>
    <th>Driver</th>
    <th>Pick Up</th>
    <th>Drop Off</th>
    <th>Requested At</th>
    <th>Accepted At</th>
    <th>Pickup Time</th>
    <th>DropOff Time</th>
    <th>Cost</th>
  </tr>
  </thead>

  <tr>
    <tbody>
    <% @completed_rides.each do |ride| %>
      <td><%= ride.user.name.capitalize %></td>
      <td><%= ride.admin.name.capitalize %></td>
      <td><%= ride.pick_up_location.capitalize %></td>
      <td><%= ride.drop_off_location.capitalize %></td>
      <td><%= ride.created_at.strftime('%l:%M %P') %></td>
      <td><%= ride.accepted_time %></td>
      <td><%= ride.pickup_time %></td>
      <td><%= ride.dropoff_time %></td>
      <td>$<%= ride.cost.to_i %>.00</td>
    <% end %>
    </tr>
  </tbody>
</table>
