<h1>User Rides Dashboard! </h1>

<% if current_user.rides.all? { |each_ride| each_ride.complete? } %>
  <%= link_to "Request A Ride", new_users_ride_path %>
<% end %>


<%= link_to 'Sign out (as rider)', destroy_user_session_path, :method => :delete %>


<h3>Rides: <%= current_user.rides.count %></h3>

<% if current_user.rides.present? %>
  <h3>Pick Up Location: <%= @current_ride.pick_up_location.capitalize %></h3>
  <h3>Drop Off Location: <%= @current_ride.drop_off_location.capitalize %></h3>
  <h3>Passengers: <%= @current_ride.num_of_passengers %></h3>
  <% if @current_ride.admin.present? %>
    <h3>Driver: <%= @current_ride.admin.name.capitalize %></h3>
  <% end %>
  <h3>Time Ride Was Requested At: <%= @current_ride.created_at.strftime('%l:%M %P') %></h3>
  <br>

<% if @current_ride.accepted? %>
  <h3>Accepted At: <%= @current_ride.updated_at.strftime('%l:%M %P') %></h3><br>
<% end %>


<% if @current_ride.in_transit? %>
  <h3>Picked Up At: <%= @current_ride.updated_at.strftime('%l:%M %P') %></h3><br>
<% end %>
<!--<%# elsif current_user.rides.present? && @current_ride.complete? %>-->
  <!--<h3>Dropped Off At: <%#= @current_ride.updated_at.strftime('%l:%M %P') %></h3>-->
<!--<%# end %>-->
<% end %>

<h2> Completed Rides: </h2>
<% if @completed_rides.count > 0 %>
  <% @completed_rides.each do |ride| %>
    <%= ride.user %>
    <%= ride.admin %>
    <%= ride.pick_up_location %>
    <%= ride.drop_off_location %>
    <%#= ride.requested_at %>
    <%#= ride.accepted_at %>
    <%#= ride.picked_up_at %>
    <%#= ride.dropped_off_at %>
    <%#= ride.cost %>
  <% end %>
<% end %>
