<!DOCTYPE html>
<html>
<head>
  <title>Goober</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body class="admin <%= [controller_name, action_name].join(' ') %>">

<div class="content">

  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand">Goober</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav sign-out">
          <% if current_admin %>
            <li><%= link_to 'Sign out', destroy_admin_session_path, :method => :delete %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>

  <br><br>
  <br><br>

  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>

  <div class="container">
    <div class="row">
      <div class="col-lg-12 rider-dashboard-header">
        <h1> <%= current_admin.name.capitalize %>'s Driver Dashboard </h1>
        <h5> Seat Capacity: <%= current_admin.car_passenger_capacity %></h5><br>
      </div>
    </div>
    <div id="page">
      <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
